.quiz-wrapper {
    background: linear-gradient(#E55FFF, #471954);
    background-size: cover;
    background-position: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    .quiz-container {
        width: 640px;
        margin: auto;
        margin-top: 40px;
        background: $white;
        color: #262626;
        display: flex;
        flex-direction: column;
        gap: 18px;
        border-radius: 10px;
        padding: 35px 45px;

        h2 {
            font-size: 20px;
            font-weight: 500;
        }

        div h1 {
            display: inline;
        }

        ul li {
            display: flex;
            align-items: center;
            height: 50px;
            padding: 15px;
            border: 1px solid #686868;
            border-radius: 8px;
            margin-bottom: 16px;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                background-color: #F6B932;
                color: $white;
                transition: .5s;
                border: 1px solid #f6b932;
            }
        }

        .active {
            background-color: #F6B932;
            color: $white;
            border: 1px solid #f6b932;
        }

        .button-container {
            display: flex;
        }

        button {
            margin: auto;
            width: 250px;
            height: 65px;
            background: #F6B932;
            color: $white;
            font-size: 25px;
            font-weight: 500;
            border-radius: 8px;
            cursor: pointer;
            border: 0;

            &:disabled {
                opacity: 50%;
            }
        }

        .index {
            margin: auto;
            font-size: 18px;
        }
    }

    .progress-done {
        padding-right: 0 !important;
    }
}

